*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 100vw;
    height: 100vh;
}

#main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.okvir{
    width: 150px;
    height: 100vh;
}

#main-menu .main-buttons{
    top: 300px;
}

.main-buttons{
    width: 150px;
    height: 50px;
    border-radius: 20px; 
    margin-top: 25px;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 250px;
}

#igra{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#opcije{
    display: none;
    align-items: center;
    justify-content: center;
}

.granica{
    height: 90vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#igrac{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f9b0f, #000000);
    background: linear-gradient(to right, #0f9b0f, #000000);
    position: relative;
    top: 0px;
    left: 0px;
}

#objekt{
    position: relative;
    top: 200px;
    height:20px;
    width: 55px;
    background-color: green;
}

#eksplodiraj{
    display: none;
    align-items: center;
    justify-content: center;
}

#eksplodiraj .main-buttons{
    top:400px;
}

.tekstic{
    position: absolute;
    top: 300px;
}

#vrijeme{
    position: absolute;
    top: 350px;
    color:indigo;
}

.ime{
    position: absolute;
    top: 200px;
}

